.align {
    float: left;
}

.iconClass {
    padding-top: 8px;
    padding-right: 550px;
}

.style1 {
    display: inline-block;
}

.style2 {
    display: inline-block;
}

.size {
    width: 200px;

}

.size2 {
    width: 120px;
}

.size3 {
    width: 330px
}

.slds-modal {
    height: 950px;
}

.radio-combo-inline .slds-form-element__control .slds-radio {
    display: inline-block !important;
}

.fieldClass {
    display: block;
    float: left;

}

.slds-radio .slds-form-element__label {
    margin-right: 60px;
}

.slds-listbox__item {
    cursor: pointer;
}

.slds-dropdown {

    left: 18.5%;
}
.THIS .slds-modal__content{
    overflow: initial;
}
.widthClass{
    margin: 0 auto;
    width: 100%;
    max-width: 52rem;
    min-width: 20rem;
}