.parent-container {
    margin-left: 5%;
    margin-right: 5%;
}

.quote-section-header {
    font-size: large;
    padding: 5px;
    font-weight: bold;
    margin-top: 5px;
}

.quote-detail-outer {
    display: flex;
    width: 100%;
    gap: 10px;
}

.quote-detail-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.label {
    font-weight: bold;
}