.container {
    width: 100%;
}

.modal-body {
    /* width: 640px; */
    /* height: 620px; */
}

.slds-spinner_container{
    --dxp-c-spinner-color-background: #34343473;
}

/* Search Screen CSS */
.slds-col {
    padding-top: 10px;
    padding-right: 10px;
   padding-left: 10px;
}

.accordion{
    --slds-c-accordion-summary-color-background: #eaeaea;
    --slds-c-accordion-heading-font-size: 16px;
}

.right{
    padding-top: 15px;
    text-align: right;
}

.black-icon{
    --sds-c-icon-color-foreground: black;
}

/* Schematics Screen CSS */
.whole-content{
    grid-column: 2;
    grid-row: 2;
    background-color: #1a1b1f;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* Ensure it's positioned relative */
}

.table-grid {
    width: 100%;
    /* Ensure table takes full width */
    height: 50%;
    /* Ensure table takes full height */
    /* background-image: url('your_background_image_url_here'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    table-layout: fixed;
    /* Ensures table width is fixed */
    border-collapse: collapse !important;
    border: 1px solid #000 !important;
}

.datacells {
    position: relative;
    /* Ensure cells are positioned relative */
    max-width: 200px;
    /* Adjust max-width as needed based on design */
}

.datacells img {
    max-width: 100%;
    /* Ensure images inside cells are not larger than their container */
    display: block;
    /* Ensure images behave as block elements */
}

.datacells .hoverContent{
    visibility: hidden;
}

.datacells:hover .hoverContent{
    visibility: visible;
    background-color: whitesmoke;
    color: black;
}

@media (max-width: 500px) {
    .datacells {
        max-width: 100%;
        /* Adjust to full width for extreme zoom levels */
    }
}

@media (min-width: 1440px) {
    .table-grid {
        background-size: contain;
        /* Ensure the background image fits within the container */
        background-position: top center;
        /* Adjust background positioning as needed */
    }

    .datacells img {
        max-width: 100%;
        /* Ensure images still fit within their containers */
        width: 100%;
        height: auto;
    }
}

.cancel-button {
    padding-top: 1em;
    font-size: 12px;
}

.confirm-button{
    margin-top: 1em;
    margin-left: 0.75em;
    padding: 1em;
    font-size: 12px;
}

.confirm-modal {
    width: auto;
}

.modalBody{
    background-color: #595959;
    color: white;
    width: 320px;
    height: 150px;
    position: relative;
    padding: 20px;
}

.modalText {
    font-size: 14px;
}

.slds-modal__container{
    /* width: 640px; */
    height: fit-content;    
}

.modal-box {
    height: auto;
}

.yes-highlight {
    /* outline: 5px solid greenyellow; */
    border: 2px solid greenyellow;
     /* margin: 5px solid red;
    padding: 10px solid red;
    color:  solid antiquewhite; */ 

}

.dropdown-menu {
    max-height:25rem;
    overflow-y: scroll;
  }

.grid-container {
    display: grid;
    background-color: #1a1b1f;
    grid-template-columns: 15% 70% 15%;
    /* grid-template-columns: 30.5% 36% 30.5%;
    grid-template-rows: 10% 83% 10%; */
    /* grid-template-columns: 24.5% 35% 26.5%;
      grid-template-rows: 6% 87% 10%; */
    position: relative;
    width: 100%;
    height: 100% !important;
}

  .left-marker{
    grid-column: 1;
    grid-row: 2;
  }

  .right-marker{
    grid-column: 3;
    grid-row: 2;
  }

 .top-marker{
    grid-column: 2;
    grid-row: 1;
  }

  .bottom-marker{
    grid-column: 2;
    grid-row: 3;
  }

.left-marker,
.right-marker,
.top-marker,
.bottom-marker {
    align-self: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color:aqua;
}

.hole-id-buttons{
    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
}

/* Product Identification Screen */
.content-box{
    display: grid;
    grid-template-columns: 68% 32%;
    padding: 2%;
}

.question-content {
    font-weight: bold;
}

.question-pos{
    text-wrap: balance;
    grid-column: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.options-pos{
    grid-column: 2;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: small;
}

/* .cancel-bttn{
    padding-left: auto;
} */
.content-box-lcard{
    height: auto;
}

.pid-button{
    float: right;
    position: relative;
}





@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .slds-modal__container {
        /* width: 360px !important; */
        margin: 0 1.5rem !important;
        height: fit-content;
    }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .container {
        /* width: 360px !important; */
    }

    .slds-modal__container {
        /* width: 360px !important; */
        margin: 0 1.5rem !important;
        height: fit-content;
    }

    .slds-grid {
        /* width: 360px !important; */
    }
}