.input-field {
    margin-bottom: 16px;
}

.narrow-input {
    width: 500px;
}

.strike-symbol {
    color: red;
    font-size: 22px; 
}

.question {
margin-left:1rem;
 margin-top:-1rem
}

.strike {
top:0.5rem;
left:0rem;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.errorMsg{
    display: flex;
    align-items: center;
    justify-content: center;
}