.container {
  
    align-items: left;
    /* background: #FAFAFA !important; */
    width: 1440px;
   
}
.buttons{
    width: 162px;
height: 48px;
top: 480px;
left: 72px;
padding: var(--ewp-compbuttontertiarytb) var(--ewp-compbuttontertiarylr) var(--ewp-compbuttontertiarytb) var(--ewp-compbuttontertiarylr);
gap: var(--ewp-compbuttontertiarygap);
border-radius: var(--ewp-compbuttontertiaryborder-radius);
opacity: 0px;
background: #FAFAFA03;


}
.bottomcss{
    width: 248px;
     height:24px;
     margin-left: 24px;
}

.chatcss{
    width: 530px;
    height: 72px;
    padding: 24px;
    gap: 24px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    margin: 48px 0px 285px 72px ;
    }
    .Passcss{
    width: 210px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    background: var(--theme-color-fg-weak, #8B9196);
    padding: 24px;
    margin-right: 24px;
    
    }
    .uscss{
        width: 110px;
        height: 24px;
        gap: 0px;
        opacity: 0px;
       
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        color:  #00589C;
      padding: right 18px; ;
        
    }
    .phcss{
        width: 114px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #00589C;
    padding-left: 10px;
    }

    
.login-container {
    width: 100%;
    background-color: #FAFAFA;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background: #FAFAFA !important; */
    /* height: 821px; */
    }

    .login-form {
        /* background-color: #FAFAFA; */
        text-align: left;
        width: 90%; 
        max-width: 360px; 
        height: 48px;
        padding-left: 72px;
      
        }

        @media only screen and (max-width: 600px) {
            .container {
                width: 100%;
            }
            .login-form {
                width: 90%;
                max-width: none; /* Remove max-width for smaller screens */
            }
            .accountcss {
                font-size: 36px; /* Adjust font size for smaller screens */
                line-height: 48px; /* Adjust line height */
            }
          
        }
        /* For Mobile Portrait View */
        @media screen and (max-device-width: 480px) 
        and (orientation: portrait) {
            .container {
                display: block;
                background: #FAFAFA;
                width: 100%;
                height: 100%;
                
                /* height: 100%; */
                }
                .login-form {
                    width: 360px;
                    padding-left: 0px;
                }
                .margin-form{
                    margin:0;
                }
                .login-container{
                    /* height: 80vh; */
                    height: auto;
                }
              

               
        .accountcss{
            width: 100%;
            height: auto;
        }
        .appoint-css{
            width: 100%;
        }
        .countcss {
            width: 100%;
            text-align: left;
            margin-top: 48px;
            padding-left: 0px !important;
        }
        .chatcss{
            width:360px !important;
            height: 117px;
            padding: 24px;
            gap: 24px;
            border-radius: 8px 0px 0px 0px;
            opacity: 0px;
            background: #FFFFFF !important;
            display: flex;
            align-items: center;
            flex-direction: column;
          /* margin-left: 10px; */
          margin-right: 50px !important;
          margin-left: -20px !important;
            }
            .bottomcss{
                width: 280px;
                height: 24px;
             
                
            }
.uscss{
    margin-right: 55px !important;
}
.phcss{

}
         
        
    }