.card-container {
    width: 100%;
    padding: 0px 16px 16px 16px;
    /* margin-left: 40px; */
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    min-height: 80vh;
  }
  .wholescreen{
    /* max-width: 848px; */
    width: 100%;
   
  }
  
  .slds-list_vertical {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Default to two columns */
  .contentcss {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    /* gap: 16px;  */
    border-radius: 8px;
    /* background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08); */
  }
  .res-mob-logo{
    cursor: none;
    pointer-events: none;
  }
  /* Style for each item */
  .slds-item {
    /* border: 1px solid #ddd; */
    padding: 16px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    /* margin: 12px; */
    margin: 12px 24px 12px 0px;
  }
  .namecss{
    /* padding-left: 72px; */
    /* padding-left: 60px; */
    margin-top: 40px;
    /* width: 400px; */
    margin: 48px 0px 8px 0px !important;
    font-family: Roboto ;   
    color: var(--theme-color-text, #475158);
    font-size: var(--theme-typography-font-size-m, 16px);
    font-style: normal;
    font-weight: var(--theme-typography-font-weight-regular, 400);
    line-height: 150%; /* 24px */
    text-align: left;
}
.countcss{
  text-align: left;
/* width: 412px; */
  /* padding-left: 72px; */
  /* padding-left: 60px; */
  margin: 8px 0px 48px 0px;
}
.accountcss{
  color: #475158;
  font-family: Roboto Condensed;
font-size: 60px;
font-weight: 700;
/* line-height: 78px; */
text-align: left;
/* width: 448px;
height: 75px; */
gap: 0px;
opacity: 0px;


}
.windcss{
  color: var(--theme-color-text, #475158);

  /* title/ml */
  font-family: var(--theme-typography-font-family-title, "Roboto Condensed");
  font-size: var(--theme-typography-font-size-ml, 20px);
  font-style: normal;
  font-weight: var(--theme-typography-font-weight-bold, 700);
  line-height: 130%; /* 26px */
    padding-bottom: 4px;
}
.bookcss{
  color: var(--theme-color-bg-inverse, #767E83);
  font-family: Roboto ;
  font-size: var(--theme-typography-font-size-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.datecss{
  margin: 24px 0px;
  /* width: 224px; */
  height: 24px;
  gap: 33px;
  opacity: 0px;

}
.slds-icon  {
  width: 14px !important; /* Your custom width */
  height: 16px !important; /* Your custom height */
}

.clockcss{
 width: 117px;
 height: 24px; 
 color: var(--theme-color-text, #475158);
 font-family: Roboto ;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  margin-right: 18px;
}
.timecss{
  width: 74px;
  height: 24px;  
  color: var(--theme-color-text, #475158);
 
  font-family: Roboto ;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

}
.viewcss{
  /* width: 273px; */
  height: 46px;
 
}
.detailslinkcss{
 
  font-family: Roboto ;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
float: right;
color: #00589C;

}

  
  /* Single column layout for mobile screens */
  @media (max-width: 612px) {
    .contentcss {
      grid-template-columns: 1fr; /* Single column */
    }
    .card-container {
      max-width: 100%;
      padding: 5px;
      margin-left: 0px;
    }
    .namecss{
      width: 100%;
      /* padding-left: 16px; */
      /* padding: 0px 5px; */
      margin-top: 32px;
     color: #475158;
     
      font-size: 16px;
     margin-bottom: 8px;

  }
  .accountcss{
      width: 100%;
      height: auto;
     font-size: 32px;
  }
  .countcss {
      width: 100%;
      text-align: left;
      /* margin-top: 48px; */
      /* padding-left: 16px !important; */
      /* padding: 0px 5px; */
  }
  .viewcss{
      width: 100%;

  }
 
  .datecss{
      margin: 24px 0px;
      width: 100%;
     
      gap: 33px;
      opacity: 0px;
  
  }
  .clockcss{
      margin-right: 24px;
  }
  .slds-item{
    margin: 12px 0px !important;
  }
  }