.form-container {
    background-color: #f3f3f3; /* Grey background color */
    padding: 20px;
}

/* .custom-input {
    border: 1px solid black !important;
}
.slds-input{
    border: 1px solid black !important;

} */
/* .slds-card{
    background-color: #f3f3f3;
} */
/* .form-card{
    color:red;
} */