.slds-m-left_x-small {  
    margin-left: 0.5rem;  
}  
.slds-input__icon_right {  
    cursor: pointer;  
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    }

.login-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FAFAFA;
        height: 861px;
 }
        
 .login-form {
            box-sizing: border-box;
        background-color: #FAFAFA;
        /* border: 1px solid #ccc; */
        padding: 20px;
        text-align: center;
        width: 90%; /* Make the login form width responsive */
        max-width: 624px; /* Limit the maximum width of the form */
        /* width: 624px; */
        height: 446px;
 }
 .buttons{
                   
    width: 400px;
height: 48px;
margin:24px 0px;
border: none;
background:#568300 !important;
background-color: #568300;
color: #FFFFFF !important;
font-size: 16px !important;
line-height: 16px !important;
padding: var(--ewp-compbuttonprimarytb) var(--ewp-compbuttonprimarylr) var(--ewp-compbuttonprimarytb) var(--ewp-compbuttonprimarylr);

font-family: "Roboto Condensed";
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
border-radius: 4px;


    }
.login-form h1 {
   
    color: var(--theme-color-text-headline, #475158);
    text-align: center;
    
    /* title/3xl */
    font-family: var(--theme-typography-font-family-title, "Roboto Condensed");
    font-size: var(--theme-typography-font-size-3xl, 60px);
    font-style: normal;
    font-weight: var(--theme-typography-font-weight-bold, 700);
    line-height: 130%; /* 78px */
    height: 78px;
    gap: 0px;
    opacity: 0px;
}
.para{
   
    color: var(--theme-color-text, #475158);
    text-align: center;
    font-family: var(--theme-typography-font-family-body, Roboto);
    font-size: var(--theme-typography-font-size-m, 16px);
    font-style: normal;
    font-weight: var(--theme-typography-font-weight-regular, 400);
    line-height: 150%; /* 24px */
    

}
.para1{
    /* font-family: Arial; */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    
}
.buttonspage{
    text-align:center;
    width:605px;
}
.slds-input {
border: none;
box-shadow: none !important;
border-bottom: #D6D8DA;
border-radius: var(--ewp-comp-select-input-border-radius, 4px) var(--ewp-comp-select-input-border-radius, 4px) var(--theme-space-selectable-border-radius-none, 0px) var(--theme-space-selectable-border-radius-none, 0px);
background: var(--theme-color-bg-idle, #FFF);
background-color: #FFFFFF;
height: 56px;

padding: 12px;
width: 400px;
color: var(--theme-color-text-matt, #8B9196);
font-family: var(--theme-typography-font-family-body, Roboto);
font-size: var(--theme-typography-font-size-m, 16px);
font-style: normal;
font-weight: var(--theme-typography-font-weight-regular, 400);
line-height: 150%; /* 24px */
}
.forgotcss{
color: var(--theme-color-text-link-matt, #8B9196);
font-family: var(--theme-typography-font-family-body, Roboto);
font-size: var(--theme-typography-font-size-m, 16px);
font-style: normal;
font-weight: var(--theme-typography-font-weight-regular, 400);
line-height: 150%; /* 24px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.errorcss{
/* text-align: left !important; */
padding: 0 0.9rem;
color: var(--theme-color-text-alert, #E60F04);
font-family: Roboto ;
font-size: var(--theme-typography-font-size-s, 12px);
font-style: normal;
font-weight: var(--theme-typography-font-weight-regular, 400);
line-height: 115%; /* 13.8px */
}
.error-message {
color: #E60F04;
font-family: Roboto ;
font-size: var(--theme-typography-font-size-s, 14px);
font-style: normal;
font-weight: var(--theme-typography-font-weight-regular, 400);
line-height: 115%; 
margin-top: 24px;
}
.slds-button{
    margin-left: -3rem;
}
@media (max-width: 612px) {
    .container {
    display: block;
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    
    /* height: 100%; */
    }
    .login-form {
        width: 360px;
    }
    .logo-header{
        padding:12px 0px 12px 10px;
    }
    .res-mob-logo{
        /* width: 132px; */
        width: 100px;
       
    }
    header{
        width: 100%;
        height: 72px
    }
    .margin-form{
        margin:0;
    }
    .login-container{
        height: 80vh;
    }
    .login-form{
        width: 100%;
    }
    .login-form h1{
        width: 100%;
        height: auto;
        font-size: 32px;
    }
    .appoint-css{
        width: 100%;
        margin-bottom: 24px !important;
    }
    footer{
        width: 100%;
        /* height: 30vh; */
        height: 100%;
    }
    .footer-content{
        margin-top: 2rem;
        width: 100%;
        /* height: 100%; */
        height: 164px;
        flex-direction: column;
        align-items: baseline;
        margin-bottom:0px;
    }
    .footer-content span{
        margin: 5px;
        font-size: 14px;
    }
    .footer-legal{
        background-color: #767E83;
        color: white;
        width: 100%;
        /* height: 40vh; */
        height: 201px;
        text-align: center;
            }
    .footer-legal p{
        height: 100%;
        line-height: 24px;
        font-size: 14px;
        padding: 0px 16px !important;
    }
    .buttons{
        width: 90%;
    }
    .slds-input {
            width: 90%; 
        }
    }

    .slds-input:active{
    outline: none;
    border-bottom: 2px solid #E60F04; /* Border color when the input is focused */
    }

   
    .slds-input:focus {
    outline: none;
    border-bottom: 2px solid #000000; /* Border color when the input is focused */
    }
    
    @media (min-width: 320px) and (max-width: 350px) {
        .footer-legal{
        background-color: #767E83;
        color: white;
        width: 100%;
        /* height: 40vh; */
        height: 220px;
        text-align: center;
            }
 
}